name: flatpak

on:
  push:
    branches: 
    - main
    - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          sudo apt-get update
          sudo apt-get install -y flatpak flatpak-builder ostree bubblewrap qemu-user-static binfmt-support
      - run: flatpak --user remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
      - run: mkdir build-dir dist || true
      - run: cp *.flatpakrepo dist/
      - run: for manifest in *.yml; do flatpak-builder --user --repo=dist --install-deps-from=flathub --ccache --force-clean build-dir "$manifest"; done
      - run: tree

      - uses: actions/configure-pages@v5
      - uses: actions/upload-pages-artifact@v3
        with:
          path: dist
      - uses: actions/deploy-pages@v4
